<!DOCTYPE html>
<html>
    <head>
        <Title>ROUTES</Title>
        <link rel="stylesheet" 
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
        crossorigin="anonymous">
        <style>
            #box {
                background-color: rgb(255, 254, 218);
                margin-top:  25px;
                padding: 20 px;
                -webkit-box-shadow: 10px 10px 20px 1px  rgba(20, 0, 75, 0.75);
                -moz-box-shadow: 10px 10px 20px 1px  rgba(20, 0, 75, 0.75);
                box-shadow: 10px 10px 20px 1px  rgba(20, 0, 75, 0.75);
                border-radius: 10px 10px 10px 10px;
                -moz-border-radius: 10px 10px 10px 10px;
                -webkit-border-radius: 10px 10px 10px 10px;
                border: 2px solid #c8e0e2;
            }
        </style>
    </head>
    <body class="bg-info">
        <div id='box' class="col-md-5 offset-md-4">
            {{{body}}}
        </div>
    </body>
</html>